*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.container {
  margin: 20px 100px 20px;
}
.header {
  display: flex;
  justify-content: space-evenly;
}
.pre-order {
  width: 175px;
  height: 58px;
  background-color: #E8EFF2;
  color: #162542;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 900px;
  justify-content: space-between;

}
.pre-order:hover {
  background-color: #162542;
  color: #FFFFFF;
}
.tm{
  display: flex;
  margin-left: 80px;
}
.section-typemaster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}
.typemaster-text {
  font-size: 56px;
  line-height: 56px;
  color: #162542;
  margin: 0;
  text-transform: uppercase;
  text-emphasis: bold;
}
.improve {
  color: #7B8BAD;
  font-size: 18px;
  line-height: 26px;
  width: 400px;
}
.group1 {
  height: 312px;
  width: 445px;
  margin-top: 60px;

}
.group2,
img {
  height: 450px;
  width: 540px;
  float: right;
  border-radius: 20px;

}
.pre-order2 {
  width: 175px;
  height: 58px;
  background-color: #F16718;
  color: #FFFFFF;
  border-radius: 6px;
}
.pre-order2:hover {
  background-color: #FF9B62;
  color: #FFFFFF;
}
.release {
  float: right;
  margin-right: 100px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7B8BAD;
}
.section-2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
  justify-content: space-evenly;
}
.group3 {
  width: 255px;
  height: 480px;
}
.group3_img{
  display: flex;
  box-shadow: #FF9B62;
}
.group4 {
  width: 445px;
  height: 480px;
}
.group5 {
  width: 255px;
  margin: 0;
  margin-top: 60px;
}
.group5-text {
  font-size: 32px;
  font-weight: 200 bolder;
  text-align: initial;
  color: #162542;
  width: 255px;
  text-transform: uppercase;
  line-height: 36px;
  justify-content: space-between;
}
.improve {
  color: #7B8BAD;
  font-size: 16px;
  font-weight: 200 bolder;
  width: 256px;
}
.properties {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-evenly;
  align-content: center;
}
.properties-group {
  width: 255px;
  height: 323px;
  justify-content: center;
}
.title {
  color: #162542;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 28px;
}
h5 {
  color: #7B8BAD;
  font-size: 16px;
  line-height: 26px;
  text-align: start;
}
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #7B8BAD;
  margin-top: 60px;
}


